{% extends "template.html" %}

{% block navbar %}
                  <h3 class="masthead-brand"><a href="">. Grumblr</a></h3>
                    <nav class="nav nav-masthead">
                    <a class="nav-link active" href="{% url 'login' %}">Home</a>
{% endblock navbar %}

{% block content %}

          <div class="container col-md-5">
            <form class="form-signin" method="post" action="{% url 'login' %}">
              <h2 class="form-signin-heading">Enter your new password</h2>            
              {% csrf_token %}
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" name='password' value='{{ form.password1 }}' required>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" name='password' value='{{ form.password2 }}' required>
              <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Change password</button>
              <input type="hidden" name="next" value="{{ next }}" />
                
            </form>
          </div> <!-- /container -->



{% endblock content %}